# OS level.
.DS_Store

# Explicit virtualenvs.
/venv
/venv3

# Implicit virtualenvs.
/.Python
/bin
/build
/include
/lib
/man

# Other products.
/pip-log.txt
/MANIFEST
/dist
/README.html
*.pyc
*.egg-info